{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
{% with messages = get_flashed_messages() %}

    <form action="/buy" method="POST">
        <div class="form-group">
            <input placeholder="Symbol" name="symbol"  type="text" required />
        </div>
        <div class="form-group">
            <input placeholder="shares" name="shares" type="number" min="1" required />
        </div>
            <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endwith %}
{% endblock %}